body
{
 background-color:#4e0000 ;
}

.section1
{
    /* background-image: url('../images/log.png');
    background-size: 100% 400px;
    width: 100%;
    height: 400px; */
    background-color: black;
    width: 100%;
    height: 327px;
    
}

.img1
{
    width: 55%;
    height: 52px;
    margin-left: 25%;
}
#col1
{
    text-align: center;
}
.row1
{
    position: fixed;
    top: 25px;
}
.gh
{
    color: white;
    font-size: 55px;
    position: relative;
    top: 79px;
}
.row2
{
    text-align: center;
}
.we
{
    color:white;
    font-weight: bold;
}

.row3
{
    text-align: left;
    position: relative;
    top: 196px;
}
.spa1 ,.spa2 ,.spa3
{
    color:rgb(109, 94, 94);
    font-size: 30px;
    font-weight: bold;
    margin-left: 20%;
}

.cart
{
    background-color: white;
    height:200px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 11px;
    box-shadow: 5px 5px 17px #a9a9a9, -5px -5px 17px #a9a9a9;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width:96%;
}
#id1 
{
    position: absolute;
    color: white;
    background-color: black;
    width: 30%;
    font-size: 10px;
    margin-left: 22%;
    border-bottom-left-radius: 16px;
    text-align: center;

}
#id2 
{
    position: absolute;
    color: white;
    background-color: #26459d;
    font-size: 10px;
    border-bottom-right-radius: 12px;
    margin-top: 0px;
    width: 27%;
    right: 74%;

}
    
#im
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 33%;
}

#im2
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 68%;
    bottom: 40px;
}
#im1
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 33%;
}

#im22
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 68%;
    bottom: 40px;
}
.cart:hover
{
 transform: scale(1.1);
}


 #img7
 {
    width: 100%;
    height: 147px;

 }
 .sp
 {
    position: relative;
    font-weight: bolder;
    left: 4%;
    bottom: 21px;
}
#rr {
    font-weight: bolder;
    font-size: 18px;
    width: 100%;
    position: relative;
    bottom: -18px;
    text-align: center;
}

.ri
{
    margin-top:73px;
}
.ri2
{
    margin-top:33px;
}
.ri3
{
    margin-top:33px;
}
.sectionfot
{
    
    background-color: black;
    width: 100%;
    height: 500px;
    margin-top: 55px;
    
}
.img9
{
    width: 42%;
    position: relative;
    left: 59%;
    top: 69px;
height: 101px;
}
.img99
{
    width: 42%;
    position: relative;
    right: 0%;
    top: 69px;
}
.s17 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: end;
    position: relative;
    margin-top: 161px;
    top: -13px;
}
.s17:hover
{
    cursor: pointer;
}

#imgfot1 {
    float: left;
    width: 30%;
    margin-left: 35%;
    position: relative;
    top: -9px;
}
#imgfot1:hover
{
    cursor: pointer;
}
#imgfot2:hover
{
    cursor: pointer;
}
#imgfot2 {
    float: left;
    width: 30%;
    margin-left: 70%;
    position: relative;
    bottom: 43px;
}
#imgfot22
{
    float: left;
    width: 30%;
    margin-left: 41%;
    position: relative;
    bottom: 15px;
}
.s1,.s3,.s4,.s5,.s7,.s8,.s9,.s10,.s11,.s12,.s14,.s15,.s16
{
    color:white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.s2,.s6,.s13
{
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.xc
{
    position: relative;
    top:42px;

}
.pain
{

    width: 100%;
    height: 78px;
    background-color: #00008054;
}
.pain #yt:hover
{
cursor: pointer;
    color:green
}
.ret
{
    margin-top:8px;

}
#qqa {
    color: white;
    font-size: 21px;
    font-weight: bold;
    position: relative;
    top: 47px;
    border-bottom: 2px solid;
    
}
#qqa:hover
{
    cursor: pointer;
    color:green;
}
#ss
{
    text-align: end;
}
#ss1
{
    text-align: end;
    margin-top: 10px;
}

.qq:hover
{
    cursor: pointer;
    opacity: 0.5;
cursor:help;
}
.dan
{
    color:red;
    font-weight: bold;
}
#yt
{
    color:white;
    font-size: 20px;
    font-weight: bold;
}
#qwe {
    color: white;
    font-size: 45px;
    position: relative;
    top: 166px;
}
nav
{
    position: relative;
    margin: 150px auto 0;
    width: 77%;
    height: 129px;
    border-radius: 1px;
    font-size: 0px;
    margin-top: 188px;
}
.po{
    color: white;
}

nav a {
    font-size: 27px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin-left: 11%;
    position: relative;
    z-index: 1;
    display: inline-block;
}
nav a:hover
{
    color:white;
    text-decoration: none;
}
nav .aimation
{
    position:absolute;
    height: 50%;
    top:0;
    z-index: 0;
    background: #337ab7;
    width:100px;
    display: none;
    margin-left: 100%;
    margin-top:-10px;
    border-radius: 50%;


}

a:nth-child(1)
{
 width: 100px;   

}
nav .start-home,a:nth-child(1):hover~.aimation
{
    width:100px;
    transition: 0.5s all ease-in-out;
    left:-880px;    
    display: block;
}
nav .start-home,a:nth-child(2):hover~.aimation
{
    width:100px;
    left: -660px;
}
nav .start-home,a:nth-child(3):hover~.aimation
{
    width:100px;
    left: -415px;
display: block;
}

nav .start-home,a:nth-child(4):hover~.aimation
{
    width:100px;
    left:-160px;
    display: block;
}
a:nth-child(2)
{
    width: 110px;   
    
}
a:nth-child(3)
{
    width: 160px;   
    
}
a:nth-child(4)
{
    width: 120px;   
    
}
.rwe
{
    background: black;
    height: 85px;
    position: fixed;
    z-index: 5;
    width: 100%;
}
.rtt
{
    background: #337ab7;
    color: white;
}
.rtt:hover
{
    background: #337ab7;
cursor: pointer;
    color: white;
}
.ad
{
    color:white;
    text-decoration: none;
}
#nasd
{
    color:white;
    text-decoration: none;
}
#nasd:hover
{
    color:white;
    text-decoration: none;
}
.ad:hover
{
    color:white;
    text-decoration: none;
}
.opp
{
    width: 100%;
}
#uuu
{
    color:white;
    font-size: 50px;
    margin: 30px;
}
.pain12
{
       background-color: #000000b8;
    width: 100%;
    height: 420px;
    margin-top: -11px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px;
}
#hhj {
    text-align: left;
    color: white;
    font-size: 26px;
    padding: 23px;
}
.row4
{
    margin-top: 40px;
}

#qqmn
{
    width: 100%;
}

@media only screen and (min-width:360px) and (max-width:360px)
{

    .pain12 {
        background-color: #000000b8;
        width: 100%;
        height: 420px;
        margin-top: 25px;
        border-radius: 12px;
        box-shadow: 10px 10px 10px;
    }

    .sectionfot {
        background-color: black;
        width: 100%;
        height: 100%;
        margin-top: 55px;
    }



    

}

@media only screen and (min-width:411px) and (max-width:411px)
{

    .pain12 {
        background-color: #000000b8;
        width: 100%;
        height: 420px;
        margin-top: 25px;
        border-radius: 12px;
        box-shadow: 10px 10px 10px;
    }

    .sectionfot {
        background-color: black;
        width: 100%;
        height: 100%;
        margin-top: 55px;
    }



    

}

@media only screen and (min-width:320px) and (max-width:320px)
{

    .pain12 {
        background-color: #000000b8;
        width: 100%;
        height: 420px;
        margin-top: 25px;
        border-radius: 12px;
        box-shadow: 10px 10px 10px;
    }

    .sectionfot {
        background-color: black;
        width: 100%;
        height: 100%;
        margin-top: 55px;
    }



    

}


.aaaa
{
    text-align: justify;
    font-size: 43px;
    color: white;
}

.oopz
{
    background-color: #ffffff94;
    height: 100px;
    width: 100%;
    display: none;
    z-index: 1;
    position: fixed;
}
.yyyy
{
    margin-left: 40%;
}
















#tt

{
    text-align: center;
    color: white;
    font-size: 21px;
}
.trty
{
    text-align: left;
    color:white;
}
#wwww
{
    color:white;
    font-size:29px;
}
.table
{
    background-color: #00008087;
    color: white;
}












body
{
 background-color:#4e0000 ;
}

.section1
{
    /* background-image: url('../images/log.png');
    background-size: 100% 400px;
    width: 100%;
    height: 400px; */
    background-color: black;
    width: 100%;
    height: 327px;
    
}

.img1
{
    width: 55%;
    height: 52px;
    margin-left: 25%;
}
#col1
{
    text-align: end;
}
.row1
{
    position: fixed;
    top: 25px;
}
.gh
{
    color: white;
    font-size: 55px;
    position: relative;
    top: 79px;
}
.row2
{
    text-align: center;
}

.we
{
    color:white;
    cursor: pointer;
    font-weight: bold;
}

.we1
{
    cursor: pointer;
    color:white;
    font-weight: bold;

}
.row3
{
    text-align: left;
    position: relative;
    top: 196px;
}
.spa1 ,.spa2 ,.spa3
{
    color:rgb(109, 94, 94);
    font-size: 30px;
    font-weight: bold;
    margin-left: 20%;
}

.cart
{
   
    height:146px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 11px;
    box-shadow: 5px 5px 17px #a9a9a9, -5px -5px 17px #a9a9a9;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width:96%;
}
#id1 
{
       position: absolute;
    color: white;
    background-color: black;
    width: 38%;
    font-size: 10px;
    margin-left: 13%;
    border-bottom-left-radius: 16px;
    text-align: center;
}
#id2 
{
    position: absolute;
    color: white;
    background-color: #26459d;
    font-size: 10px;
    border-bottom-right-radius: 12px;
    margin-top: 0px;
    width: 27%;
    right: 74%;

}
    
#im
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 33%;
}

#im2
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 68%;
    bottom: 40px;
}
#im1
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 33%;
}

#im22
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 68%;
    bottom: 40px;
}
.cart:hover
{
 transform: scale(1.1);
}


 #img7
 {
    width: 100%;
    height: 147px;

 }
 .sp
 {
    position: relative;
    font-weight: bolder;
    left: 4%;
    bottom: 21px;
}
#rr {
    font-weight: bolder;
    font-size: 18px;
    width: 100%;
    position: relative;
    bottom: -18px;
    text-align: center;
}

.ri
{
    margin-top:73px;
}
.ri2
{
    margin-top:33px;
}
.ri3
{
    margin-top:33px;
}
.sectionfot
{
    
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: 55px;
    
}
.sectionfot1
{
    
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: 55px;
    
}
.img9
{
    width: 42%;
    position: relative;
    left: 59%;
    top: 69px;
height: 101px;
}
.img99
{
    width: 42%;
    position: relative;
    right: 0%;
    top: 69px;
}
.s17 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: end;
    position: relative;
    margin-top: 161px;
    top: -13px;
}
.s17:hover
{
    cursor: pointer;
}

.s177 {
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    position: relative;
    margin-top: 161px;
    top: -13px;
}
.s177:hover
{
    cursor: pointer;
}

#imgfot1 {
    float: left;
    width: 30%;
    margin-left: 35%;
    position: relative;
    top: -9px;
}
#imgfot1:hover
{
    cursor: pointer;
}

#imgfot11 {
    float: left;
    width: 30%;
    margin-left: 0%;
    position: relative;
    top: -9px;
}
#imgfot11:hover
{
    cursor: pointer;
}
#imgfot2:hover
{
    cursor: pointer;
}
#imgfot2 {
    float: left;
    width: 30%;
    margin-left: 70%;
    position: relative;
    bottom: 43px;
}
#imgfot22
{
    float: left;
    width: 30%;
    margin-left: 6%;
    position: relative;
    bottom: 9px;
}
#imgfot22:hover
{
 cursor: pointer;
}
.s1,.s3,.s4,.s5,.s7,.s8,.s9,.s10,.s11,.s12,.s14,.s15,.s16
{
    color:white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.s2,.s6,.s13
{
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.xc
{
    position: relative;
    top:42px;

}
.pain
{

    width: 100%;
    height: 78px;
    background-color: #00008054;
}
.pain #yt:hover
{
cursor: pointer;
    color:green
}
.ret
{
    margin-top:8px;

}

      #qqa {
            color: white;
            font-size: 10px;
            font-weight: bold;
            position: relative;
            top: 47px;
        }
    
    

#qqa:hover
{
    cursor: pointer;
    color:green;
}
#ss
{
    text-align: left;
}
#ss1
{
    text-align: left;
    margin-top: 10px;
}

.qq:hover
{
    cursor: pointer;
    opacity: 0.5;
cursor:help;
}
.dan
{
    color:red;
    font-weight: bold;
}
#yt {
    color: white;
    font-size: 17px;
    font-weight: bold;
animation: dd 2s;
animation-iteration-count: infinite;
}
@keyframes dd
{
    0%{color:red}
    0%{color:brown}
}

#qwe {
    color: white;
    font-size: 45px;
    position: relative;
    top: 153px;
animation: hy 3s;
animation-iteration-count:infinite;
}
@keyframes hy {
0%{
    color: yellow;

}
50%{
    color: green;

}
}





.oppp
{
    position: relative;
    margin: 150px auto 0;
    width: 77%;
    height: 129px;
    border-radius: 1px;
    font-size: 0px;
    margin-top: 188px;
}
.po{
    color: white;
}

.oppp a {
    font-size: 27px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin-left: 11%;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.oppp a:hover
{
    color:white;
    text-decoration: none;
}
.oppp .aimation
{
    position:absolute;
    height: 50%;
    top:0;
    z-index: 0;
    background: #337ab7;
    width:120px;
    display: none;
    margin-left: 100%;
    margin-top:-10px;
    border-radius: 50%;


}

a:nth-child(1)
{
 width: 200px;   

}
.oppp .start-home,a:nth-child(1):hover~.aimation
{
    width:200px;
    transition: 0.5s all ease-in-out;
    left:-880px;    
    display: block;
}
.oppp .start-home,a:nth-child(2):hover~.aimation
{
    width:200px;
    left: -660px;
}
.oppp .start-home,a:nth-child(3):hover~.aimation
{
    width:390px;
    left: -415px;
display: block;
}

.oppp .start-home,a:nth-child(4):hover~.aimation
{
    width:100px;
    left:-880px;
    display: block;
}
a:nth-child(2)
{
    width: 310px;   
    
}
a:nth-child(3)
{
    width: 260px;   
    
}
a:nth-child(4)
{
    width: 320px;   
    
}
.io:hover
{
    cursor: pointer;
    color: green;
}

#kopw
{
    width: 60%;
background-color: wheat;
margin-left: 38px;
}
#kopw li a
{
    font-size: 17px;
}

nav
{
    position: relative;
    width: 100%;
    height: 129px;
    border-radius: 1px;
    font-size: 0px;
    margin-top: 188px;
}
.po{
    color: white;
}

nav a {
    font-size: 27px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin-left: 11%;
    position: relative;
    z-index: 1;
    display: inline-block;
}
nav a:hover
{
    color:white;
    text-decoration: none;
}
nav .aimation
{
    position:absolute;
    height: 50%;
    top:0;
    z-index: 0;
    background: #337ab7;
    width:100px;
    display: none;
    margin-left: 100%;
    margin-top:-10px;
    border-radius: 50%;


}

a:nth-child(1)
{
 width: 100px;   

}
nav .start-home,a:nth-child(1):hover~.aimation
{
    width:100px;
    transition: 0.5s all ease-in-out;
    left:-880px;    
    display: block;
}
nav .start-home,a:nth-child(2):hover~.aimation
{
    width:100px;
    left: -660px;
}
nav .start-home,a:nth-child(3):hover~.aimation
{
    width:100px;
    left: -415px;
display: block;
}

nav .start-home,a:nth-child(4):hover~.aimation
{
    width:100px;
    left:-160px;
    display: block;
}
a:nth-child(2)
{
    width: 110px;   
    
}
a:nth-child(3)
{
    width: 160px;   
    
}
a:nth-child(4)
{
    width: 120px;   
    
}
.rwe
{
    background: black;
    height: 85px;
    position: fixed;
    z-index: 5;
    width: 100%;
}
.rtt
{
    background: #337ab7;
    color: white;
}
.rtt:hover
{
    background: #337ab7;
cursor: pointer;
    color: white;
}
.ad
{
    color:white;
    text-decoration: none;
}
.ad:hover
{
    color:white;
    text-decoration: none;
}
#nasd
{
    color:white;
    text-decoration: none;
}
#nasd:hover
{
    color:white;
    text-decoration: none;
}
#typ
{
    color:black;
}
.img99 {
    width: 42%;
    position: relative;
    left: 0%;
    top: 69px;
    height: 101px;
}

@media only screen and (min-width:360px) and (max-width:360px)
{
    #byu
    {
        margin-right: 27px;
    }
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1166px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: 347px;
        border-bottom: 2px solid;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1126px;
        margin-top: 55px;
    }

    #qwe {
        color: white;
        font-size: 31px;
        position: relative;
        top: 204px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    }
}

@media only screen and (min-width:411px) and (max-width:411px)
{
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1166px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: 347px;
        border-bottom: 2px solid;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1131px;
        margin-top: 55px;
    }
    #qwe {
        color: white;
        font-size: 36px;
        position: relative;
        top: 205px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    }

}

@media only screen and (min-width:320px) and (max-width:320px)
{
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1166px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: 347px;
        border-bottom: 2px solid;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1139px;
        margin-top: 55px;
    }
    .oopz {
        background-color: #ffffff94;
        height: 100px;
        width: 100%;
        display: none;
        z-index: 1;
        position: fixed;
        bottom: 384px;
    }
}

@media only screen and (min-width:375px) and (max-width:375px)
{
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1166px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: 347px;
        border-bottom: 2px solid;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1115px;
        margin-top: 55px;
    }
    #qwe {
        color: white;
        font-size: 33px;
        position: relative;
        top: 199px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    }

}


@media only screen and (min-width:414px) and (max-width:414px)
{
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1166px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: 347px;
        border-bottom: 2px solid;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1132px;
        margin-top: 55px;
    }
    #qwe {
        color: white;
        font-size: 35px;
        position: relative;
        top: 197px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    }

}


@media only screen and (min-width:768px) and (max-width:768px)
{

    #qwe {
        color: white;
        font-size: 45px;
        position: relative;
        top: 153px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    
    }
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 471px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 7px;
        font-weight: bold;
        position: relative;
        top: 6px;
        border-bottom: 2px solid;
        left: 182px;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 472px;
        margin-top: 55px;
    }

    .opp {
        width: 100%;
        height: 419px;
    }
    #hhj {
        text-align: left;
        color: white;
        font-size: 26px;
        padding: 23px;
        height: 54px;
    }

}

@media only screen and (min-width:1024px) and (max-width:1024px)
{

    #qwe {
        color: white;
        font-size: 45px;
        position: relative;
        top: 153px;
        animation: hy 3s;
        animation-iteration-count: infinite;
       
    }
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 491px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 7px;
        font-weight: bold;
        position: relative;
        top: 28px;
        border-bottom: 2px solid;
        left: 257px;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 521px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 7px;
        font-weight: bold;
        position: relative;
        top: 28px;
        border-bottom: 2px solid;
        left: -41px;
    }
    .opp {
        width: 100%;
        height: 420px;
    }


}



@media only screen and (min-width:540px) and (max-width:540px)
{
    #qwe {
        color: white;
        font-size: 45px;
        position: relative;
        top: 208px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    }
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1174px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 7px;
        font-weight: bold;
        position: relative;
        top: 28px;
        border-bottom: 2px solid;
        left: 257px;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1126px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 17px;
        font-weight: bold;
        position: relative;
        top: 358px;
        border-bottom: 2px solid;
        left: -41px;
    }
}

@media only screen and (min-width:280px) and (max-width:280px)
{

    #qwe {
        color: white;
        font-size: 31px;
        position: relative;
        top: 196px;
        animation: hy 3s;
        animation-iteration-count: infinite;
    }
    .sectionfot {
        background-color: black;
        width: 100%;
        height: 1184px;
        margin-top: 55px;
    }

    #qqa {
        color: white;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        top: 358px;
        border-bottom: 2px solid;
        left: 0px;
    }

    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1125px;
        margin-top: 55px;
    }
    #imgfot1 {
        float: left;
        width: 30%;
        margin-left: 35%;
        position: relative;
        top: -18px;
    }






}

@media only screen and (min-width:500px) and (max-width:500px)
{
    .sectionfot1 {
        background-color: black;
        width: 100%;
        height: 1140px;
        margin-top: 55px;
    }
}