.paint1
{
background:black;
width: 100%;
height:60px;
}

.hretqw {
  background-image:url('../images/مطر.jpeg');
  background-size:100% 947px; 
  width: 80%;
   height: 947px;
   margin-left: 20%;
   margin-top: -10px;
      position:absolute;
      background-repeat: no-repeat;
  }


.input1 {
  position: relative;
  display: table;
  border-collapse: separate;
  top: 11px;
}
.paint2{
  background: black;
    width: 20%;
    height: 947px;
    margin-top: -32px;

}
 .ert {
  color: white;
  text-shadow: 17px 7px 6px #ddd;
  font-weight: bold;
  position: relative;
  bottom: 15px;
  z-index: 1;
}
.so
{
  text-align: left;
    margin-left: 3%;
    line-height: 74px;
    color: wheat;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
   border-bottom: 1px solid #DDD;
  
}
.so:hover
{
  border-left: 4px solid yellow;
  background-color: #DDD;
 
  color: black;
}
.imaa
{
  border-radius: 50%;
  width: 56%;
}
.qwe
{
  text-align: center;
  margin-top: 31px;
}
  